html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    max-width: 600px;
}

body {
    margin: 0 auto;
    background-color: rgb(155, 197, 183);
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(196, 245, 228);
}

.description {
    line-height: 5px;
    padding: 20px;
    background-color: rgb(130, 153, 145);
    text-align: center;
}

.recipe-overview {
    list-style-type: none;
    text-align: center;
}

li {
    margin-bottom: 30px;
}

span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
}

#ingredients,
#steps {
    margin-left: 25%;
}

h3 {
    text-align: center;
}

button {
    margin: 20px auto;
    display: block;
    padding: 30px;
    background-color: #00ffb3;
    font-weight: bold;
    font-size: 25px;
}